/*----------------------------------- Font -----------------------------------*/
@font-face {
  font-family: "Pete Klassen";
  src: url('pete-klassen_aniron/anicb___.ttf');
}

body {
  font-family: "Pete Klassen";
  background-image: url("dynamic-style/dynamic-style.png");
}

/*----------------------------- Navbar ----------------------------- */
nav {
  background-color: orange;
}

/*----------------------------- Carousel -----------------------------*/
.carousel-caption {
  bottom: 45%;
}

/*----------------------------- card hover -----------------------------*/


.card img {
  opacity: 0.40;
}

.card span {
  color: orange;
}

.card .text2 {
  background-color: white;
  border-radius: 14px;
  position: absolute;
  top: 50px;
  left: 20%;
  padding: 10px;
}

.card .prenom1 {
  position: absolute;
  top: 300px;
  left: 30%;
  font-size: 30px;
  color: white;
}

.card .prenom2 {
  position: absolute;
  top: 200px;
  left: 30%;
  color: white;
  opacity: 0;
  font-size: 20px;
}

.card:hover img {
  opacity: 1;
}

.card:hover .text2 {
  opacity: 0;
}

.card:hover .prenom1 {
  opacity: 0;
}

.card:hover .prenom2 {
  opacity: 1;
}

.card {
  background-color: black;
  border: solid 5px black;
  border-radius: none;
  color: grey;
}

.card p {
  font-size: 20px;
}

/*--------------------------------- container-captured ---------------------------------*/
.container-captured {
  background-color: black;
  color: white;
}

.container-captured a {
  color: orange;
}

.container-captured img {
  border-radius: 100px;
}

/*--------------------------------- container-ring ---------------------------------*/
.container-ring {
  background-color: black;
  color: white;
}

.container-ring .card {
  margin-bottom: 5%;
}

.container-ring .card-body {
  background-color: grey;
  color: black;
}

.container-ring .card-header {
background-color: orange;
}

.container-ring .card .card-body img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
}

/*-------------------------------- container-join ------------------------*/
.container-join img {
  width: 300px;

}

.container-join .row:nth-child(3) p {
  color: orange;
}

/*------------------------------ container-contact ------------------------------*/
.container-contact {
  background-color: black;
  color: white;
}

.container-contact img {
  width: 70%;
  height: 70%;
}

/*-------------------------------- footer --------------------------------*/

footer {
  background-color: orange;
  color: white;
}

footer ul {
  list-style: none;
}